@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.bg {
    background-color: #f8f9fa;
    background-image: url("https://pijarsekolah.id/wp-content/uploads/2021/12/perpus-1024x576.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: "Poppins";
}